*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    min-width: auto;
}

/* HEADER */
    /* DESKTOP */
header {
    width: 100%;
    background-color: #0084FD;
}

.header-container{
    display: flex;
    justify-content: space-between;
    /* width: 1200px; */
    margin: 0 auto;
    height: 80px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.header-container .button{
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 10px
}
.header-container i {
    display: none;
    color: white;
}

header img{
    width: 80px;
    height: 40px;
}

.ul-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    column-gap: 30px;
}

ul{
    list-style: none;
}

    /* TABLET */
@media screen and (max-width: 768px){
    .ul-header{
        display: none;
    }
    .header-container i{
        display: inline;
    }

}

    /* MOBILE */
@media screen and (max-width: 375px){

}

/* SEZIONE 1 */
    /* DESKTOP */
    .row-container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .col-row{
        display: flex;
        flex-wrap: wrap;
    }
    .col-demo{
        width: 66%;
        display: flex;
        flex-direction: row;
        background-color: #B5DDFF;
        border-radius: 25px;
    }

    .col-demo-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        padding-inline: 20px;
    }
    .col-demo-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .col-demo-right img {
        max-height: 270px;
    }
    .col{
        display: flex;
        flex-direction: column;
        width: 33%;
        background-color: #B5DDFF;
        border-radius: 25px;
        padding: 30px;
    }
    /* TABLET */
    @media screen and (max-width: 768px){
        .col-demo{
            flex-direction: column;
            align-items: flex-start;
        }

    }
    /* MOBILE */
    @media screen and (max-width: 375px){
        .row{
            flex-direction: column;
        }
        .col{
            width: 100%;
        }
        .col-demo{
            width: 100%;
            align-items: center;
        }
    }

/* SEZIONE 2 */
    /* DESKTOP */
    .section2{
        width: 100%;
        margin: 0 auto;
        background-color: #9792E4;
    }
    .row-section2{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 940px;
    }
    .col-left-section2{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 30px;
    }
    .col-left-section2 img {
        max-width: 410px;
        height: auto;
    }
    .col-right-section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: white;
        border-radius: 25px;
        align-self: flex-end;
        margin: 30px;
        padding: 15px;
    }
    .col-right-section2 img{
        max-height: 250px;
        aspect-ratio: 1/1;
        max-width: 100%;
    }
    /* TABLET */
    @media screen and (max-width: 768px){
        .row-section2{
            flex-direction: column;
        }
        .col-left-section2{
            width: 100%;
        }
        .col-right-section2{
            width: 80%;
        }
    }
    /* MOBILE */

/* SEZIONE 3 */
    /* DESKTOP */
    .section3{
        max-width: 1200px;
        margin: auto;
    }
    .row-section3{
        display: flex;
        flex-direction: column;
    }
    .col-text-section3{
        text-align: center;
    }
    .col-section3{
        display: flex;
        align-items: center;
        background-color: #9792E4;
        border-radius: 25px;
        color: white;
    }
    .col-section3 img{
        max-width: 200px;
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
    }
    .row-section3 > div{
        margin-bottom: 30px;
    }
    /* TABLET */
    /* MOBILE */
    @media screen and (max-width: 375px){
        .col-section3{
            flex-direction: column;
        }
        .text{
            text-align: center;
        }
    }

/* SEZIONE 4 */
    /* DESKTOP */
    .section4{
        background-color: #9792E4;
    }
    .section4 > h1 {
        text-align: center;
        color: white;
    }
    .row-section4{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 15px;
    }
    .col-section4{
        width: calc(calc(100% - 90px) / 3);
        background-color: white;
        border-radius: 15px;
    }
    .col-section4 h1, .col-section4 h3{
        color: #9792E4;
    }
    /* TABLET */
    @media screen and (max-width: 768px){
        .col-section4{
            width: calc(calc(95%-30px) / 2);
        }
    }
    /* MOBILE */
    @media screen and (max-width: 375px){
        .col-section4{
            width: 100%;
        }
    }